.textarea__input{
    display: grid;
    margin-bottom: 3rem;
    position: relative;
    top: 5rem;
    right: 19rem;
    width: 40.6rem;
}

textarea{
    resize: none;
    padding: 0.5rem 1rem 0.5rem 0.2rem;
    border-radius:0.5rem;
    outline: none;
    border: 1.9px solid #c4c3c3;
}

span{
    font-size: 12px;
    padding: 3px;
    color: #ff0000;
    display: none;
  }
  
  .textarea:invalid[focused= "true" ]{
    border: 1px solid #ff0000;
  }
  .textarea:invalid[focused= "true" ] ~ span{
    display: block;
  }

@media screen and (max-width:756px){
    .textarea__input{
        display: grid;
        margin-bottom: 3rem;
        position: relative;
        top: 5rem;
        right: 16.8rem;
        width: 35rem;
        max-width: inherit;
    }
    
    }
@media screen and (max-width:600px){
    .textarea__input{
        display: grid;
        margin-bottom: 3rem;
        position: relative;
        top: 0;
        right: 0;
        width: 16.7rem;
    }
    
    }

