.checkbox{
    position: relative;
    top: 2.5rem;
    margin-bottom: 4rem;
    margin-left: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -6rem;
    gap:0.6rem

}

.label__input{
    font-size: 0.7rem;
    margin-right: 3rem;
    margin-top: 0.5rem;
}

.checkbox__input{
    /* border:1px solid #066bf0; */
  
}